@inject AppDbContext context
@model List<Product>
@{
    ViewBag.Title = ViewBag.title;
    var brands = ViewBag.Brands as IEnumerable<Brand>;
    var categories = ViewBag.Categories as IEnumerable<Category>;

}
<h3 class="text-center text-light bg-info rounded py-2 px-2">@ViewBag.Title</h3>
<div class="row">
    @foreach (var product in Model)
    {
        var productTitle = string.Empty;
        if (categories != null)
            productTitle += $" {(from e in categories where e.CategoryId == product.CategoryId select e).FirstOrDefault().Name}";
        if (brands != null)
            productTitle += $" {(from e in brands where e.BrandId == product.BrandId select e).FirstOrDefault().Name}";
        productTitle += $" {product.Name} ({product.Ram} GB, {product.Rom} GB)";
        <div class="col-md-4 col-lg-3 col-sm-6 card-group">
            <div class="card rounded my-3 bg-transparent py-2">
                <a asp-controller="Home" asp-action="ViewProduct" asp-route-id="@product.ProductId">
                    @{
                        var productImages = (from e in context.Images
                                             where e.ProductId == product.ProductId
                                             select new Image()
                                             {
                                                 ImageName = e.ImageName
                                             }).ToList();

                        if (productImages.Count != 0)
                        {
                            <img src="~/images/products/@productImages[0].ImageName" alt="@productTitle" style="max-height:180px; max-width:140px" class="mx-auto d-block">
                        }
                    }
                </a>
                <div class="card-body">
                    <h5 class="card-title text-center">
                        <a asp-controller="Home" asp-action="ViewProduct" asp-route-id="@product.ProductId">
                            @productTitle
                        </a>
                    </h5>
                </div>
                <div class="card-footer text-center text-danger bg-transparent">
                    <h5>@product.Price.ToString("#,##0") ₫</h5>
                </div>
            </div>
        </div>
    }
</div>